@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,400;0,500;1,500&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=EB+Garamond:wght@400;500;600;700;800&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Fira+Code:wght@300;400;500;600;700&family=Inconsolata:wght@200;400;500;600;800;900&family=Kumbh+Sans:wght@400;700&family=Manrope&family=Noto+Sans+Chakma&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&family=Oswald:wght@400;600;700&family=Outfit:wght@300;400;600&family=Passion+One&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700;1,800&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:wght@300;400;700&family=Silkscreen:wght@400;700&family=Square+Peg&family=VT323&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.titulo-form {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Poppins';
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-direction: column;
  width: 960px;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 50%;
  background-color: #fff;
}

.form label {
  color: #000;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 9px;
  transition: border-color, box-shadow 0.2s;
  font-family: 'Poppins';
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
  font-size: 1.1rem;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: var(--azul-claro);
  box-shadow: 0 0 0 3px #6551be;
}

.form button {
  display: block;
  padding: 1rem;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 30px;
  background-color: rgba(255, 68, 0, 0.568);
}

.form button:hover,
.form button:focus {
  outline: none;
  background-color: orange;
}