@media screen and (min-width: 700px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }

    .nav-header {
      padding: 0;
    }

    .nav-toggle {
      display: none;
    }

    .links {
      height: auto;
      display: flex;
    }

    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }

    .links a:hover {
      padding: 0;
      background: transparent;
    }

    .social-icons {
      display: flex;
    }

    .social-icons a {
      margin: 0 0.5rem;
      color: var(--clr-primary-5);
      transition: var(--transition);
    }

    .social-icons a:hover {
      color: var(--clr-primary-7);
    }

    #prev-button i, #next-button{
      font-size: 20px;
    }

  }

  @media only screen and (max-width: 576px){
   .cards-de-ofertas{
     /* display: block;
     margin: 0 auto; */
     align-items: center; 
     flex-wrap: wrap;
   }

   .cards{
    display: grid; 
    grid-template-columns:  1fr;
   }

   .cards-content{
    padding-top: 60px;
    margin: auto;
    align-items: center;
   }

  }