@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,400;0,500;1,500&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=EB+Garamond:wght@400;500;600;700;800&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Fira+Code:wght@300;400;500;600;700&family=Inconsolata:wght@200;400;500;600;800;900&family=Kumbh+Sans:wght@400;700&family=Manrope&family=Noto+Sans+Chakma&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&family=Oswald:wght@400;600;700&family=Outfit:wght@300;400;600&family=Passion+One&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700;1,800&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:wght@300;400;700&family=Silkscreen:wght@400;700&family=Square+Peg&family=VT323&display=swap');

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

@font-face {
  font-family: logo;
  src: url(../Makhina/makhina.ttf);
}

body {
  /* background-color: var(--clr-grey-10); */
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

.navigation {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  border-bottom: 1px solid rgba(0, 0, 0, 0.209);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.name-logo {
  font-family: logo;
  font-size: 4rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #F27649;
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  font-weight: 700;
  color: #0000009c;
  font-family: 'Poppins', sans-serif;
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.social-icons {
  display: none;
  font-size: 1.2rem;
}

.social-icons i {
  color: #0000009c;
}

.social-icons i:hover {
  color: #27AAE1;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 11rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  max-width: 990px;
  margin: 0 auto;
}

.banner h1 {
  margin: 50px 0 50px 0;
  padding-right: 30px;
  font-family: logo;
  color: #F27149;
  font-size: 7rem;
}

.imagem-card {
  display: block;
  align-self: flex-end;
  z-index: 999;
  padding: 10px;
  border-radius: 1000px 40px 30px;
  background-color: #FC76A9;
}

.cards-de-ofertas {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  gap: 20px;
  height: 100%;
  margin-top: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  background-color: #ffffff8e;
}

.cards-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin-left: 70px;
  position: relative;
}

.cards-content h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #424242;
  font-family: "Poppins", sans-serif;
}

.cards-content p {
  color: #907E71;
  letter-spacing: 3px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  border-radius: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.botao {
  margin-top: 30px;
  background-color: #FFC555;
  color: #fff;
  width: 160px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.botao:hover {
  background-color: #FC76A9;
}

.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 210px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 20px;
  color: #fff;
  font-family: "poppins", sans-serif;
  background: url(../img/fundo-do-card.png) #F27149;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.info-de-oferta {
  color: #fff;
}

.botao-card {
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  width: 160px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.botao-card:hover {
  background-color: #FFC555;
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 210px;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 1.7rem;
  border-radius: 20px;
  background: url(../img/lego.png)#A993DC;
  background-repeat: no-repeat;
  background-size: cover;
}

.botao-card-2 {
  margin-top: 10px;
  background-color: #FFC555;
  color: #fff;
  width: 160px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.botao-card-2:hover {
  background-color: #FC76A9;
}

.lista-de-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.itens {
  width: 120px;
  border: 3px dotted #919391;
  border-radius: 50%;
  padding: 3px;
  margin: 10px;
}


.item {
  margin: 50px 0 90px 0;
}

.lista-de-itens,
p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #919391;
}

.sessao-de-produtos {
  text-align: center;
}

.sessao-de-produtos h1 {
  font-size: 2.7rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #424242;
  letter-spacing: 2px;
}

.sessao-de-produtos p {
  font-size: 1.1rem;
  margin-bottom: 65px;
}

.sessao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}

.produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 300px;
  height: 510px;
  border-radius: 20px;
  margin-bottom: 50px;
  border: 1px solid #91939138;
  position: relative;
  transition: transform 0.5s ease;
  box-shadow: rgba(100, 100, 111, 0.036) 0px 7px 29px 0px;
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
  transform-origin: center center;
  -moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  border: 1px solid #E7E5E5;
}

.produtos:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  opacity: 0.9;
}

.nome {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  color: #2C2F38;
  font-weight: 400;
}

.preco {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.maior-preco {
  color: rgba(128, 128, 128, 0.688);
  text-decoration: line-through;
}

.menor-preco {
  padding-right: 10px;
}

.comprar {
  width: 190px;
  border-radius: 12px;
  background-color: #27AAE1;
  color: #fff;
  padding: 13px 0;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3 ease;
}

button.comprar:hover {
  background-color: hsl(157, 72%, 43%);
}

.vendido {
  position: absolute;
  width: 60px;
  height: 23px;
  top: 30px;
  right: 18px;
  border-radius: 30px;
  background-color: rgba(128, 0, 128, 0.51);
}

.sale {
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto';
}

.card-de-ofertas2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.card-ofertas {
  width: 470px;
  height: 350px;
  background-color: #A993DC;
  border-radius: 30px;
  position: relative;
}

.super-oferta {
  font-size: 4.3rem;
  margin: 0 auto;
  text-align: left;
}

.sobre-super-oferta {
  text-align: justify;
}

.card-sale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 320px;
  border-radius: 30px;
  border: 2px dotted #7B61B7;
}

.card-sale h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 2.9rem;
  color: #E3F1FF;
}


.card-sale p {
  text-align: center;
  font-size: 1.1rem;
  color: #E3F1FF;
  padding: 0 20px 10px 0;
  margin-bottom: 13px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

input {
  margin: 0 auto;
  width: 240px;
  padding: 9px;
  border-radius: 50px;
  border: none;
  font-size: 0.9rem;
  outline: none;
  background-color: #D0C5EC;
}

input::placeholder {
  color: #7454bd;
  padding-left: 10px;
}

input.submit {
  width: 150px;
  padding: 10px;
  letter-spacing: 1px;
  background-color: #fff;
}

.submit:hover {
  background-color: #7354bdaa;
  color: #fff;
}

.card-sale2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 40px;
  background-color: #F27149;
  border-radius: 30px;
  width: 440px;
  height: 320px;
}

.card-sale2 h1 {
  margin-top: 30px;
  color: #ffffffea;
}

.sobre-super-oferta {
  font-size: 1.1rem;
  text-align: justify;
  font-size: 1rem;
  color: #E3F1FF;
  padding: 0 20px 10px 0;
}

.card2 {
  background-color: #ffffffd1;
  border: 2px dotted #F27149;
}

.btn {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.btn:hover {
  background-color: #FFC555;
  color: #fff;
}


.cartao-de-listagem {
  margin: 0 auto;
}

.categoria {
  text-align: center;
  font-size: 3rem;
  color: #424242;
  margin: 30px 0 20px 0;
  font-family: 'Poppins';
}

.text {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;

}

.cartao-imagens {
  display: none;
}

.cartao-imagens.aberto {
  display: block;
}

.lista-de-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cartao-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 230px;
  height: 260px;
  border: 1px solid #d7d1d14c;
  flex-direction: column;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1.5s ease;
}

.cartao-imagem img {
  width: 80%;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cartao-imagem:hover {
  transform: rotateY(180deg);
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 0, 0.733);
  transform: rotateY(180deg);
  background-color: #f7f7f768;
  ;
}


.listagem .lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  /* margin-left: 10px; */
  margin-bottom: 10px;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  min-height: 70px;
  transition: 0.15s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  border: 1px solid #E7E5E5;
  padding: 11px 11px;
}

.listagem .lista:hover {
  transform: scale(1.05);
}

.listagem .lista img {
  width: 40%;
}

.listagem .lista.ativo {
  background-color: #FC76A9;
  color: #fff;
}

.sessao-do-blog {
  margin: 5px 0 30px 0;
}

.title-blog {
  font-size: 3rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.subtitulo-blog {
  margin: 13px 0 50px 0;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
}

.our-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.blog {
  display: flex;
  align-items: center;
  gap: 25px;
}

.image-blog img {
  width: 270px;
  height: 340px;
}

.about-blog {
  width: 197px;
  height: 340px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: #424242;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

#calendario {
  font-size: 1.2rem;
}

.data {
  color: #424242;
  font-size: 1.2rem;
  margin-left: 10px;
}

.text-blog {
  margin-top: 10px;
  text-align: unset;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.form {
  width: 100%;
  max-width: 36rem;
  margin-top: 30px;
}

.titulo-form {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Poppins';
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-direction: column;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
  background-color: #fff;
}

.form label {
  color: #000;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 9px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
  font-size: 1.1rem;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: var(--azul-claro);
  box-shadow: 0 0 0 3px #6551be;
}

.form button {
  display: block;
  padding: 1rem;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 30px;
  background-color: rgba(255, 68, 0, 0.568);
}

.form button:hover,
.form button:focus {
  outline: none;
  background-color: orange;
}
